<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>환영합니다.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Jua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower|Jua&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        body {
            width: 550px;
            margin: 20px auto;
        }

        .image {
            width: 100%;
        }

        .item-group {
            margin: 20px auto 20px;
        }

        .item {
            font-family: 'Jua', sans-serif;
        }

        .description,
        .input-group,
        .btn {
            font-family: 'Gamja Flower', cursive;
        }

        .btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }





    </style>
</head>

<body>
<img class="image" src="http://thumb.mt.co.kr/06/2018/07/2018070411134940004_1.jpg">
<div class="item-group">
    <div class="item">
        <span style="font-size:xx-large; font-weight: 200;">양초를팝니다 </span>가격: 3,000원/개
    </div>
    <div class="description">이 양초는 사실 특별한 힘을 가지고 있어요. 양초를 켜고 소원을 빌면 짜자잔 뭐든지 이뤄지게 된답니다. 하나 사가세요! 대나무 향이 아주 좋아요</div>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">주문자 이름</span>
    </div>
    <input type="text" class="form-control" id="name" aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">수량</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>-- 수량을 선택하세요 --</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
    </div>
    <input type="text" class="form-control" id='address' aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
    </div>
    <input type="text" class="form-control" id='phone_num' aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default">
</div>
<div class="btn">
    <button onclick="order_alert()" type="button" class="btn btn-primary">주문하기</button>
</div>

<div class="orders">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">주문자 이름</th>
            <th scope="col">수량</th>
            <th scope="col">주소</th>
            <th scope="col">전화번호</th>
        </tr>
        </thead>
        <tbody id="orders-box">
        <tr>
            <td>name</td>
            <td>amount</td>
            <td>address</td>
            <td>phone_number</td>
        </tr>
        </tbody>
    </table>
</div>


<script>

$(document).ready(function () {
            $('#orders-box').html('');
            listing();
});


        function isMobile(phoneNum) {// 출처: https://holybell87.tistory.com/22#.XnhlqIj7RPY [K's 개발이야기]
            var regExp = /(01[016789])([1-9]{1}[0-9]{2,3})([0-9]{4})$/; var myArray; if (regExp.test(phoneNum)) {
                myArray = regExp.exec(phoneNum); // console.log(myArray[1]); // console.log(myArray[2]); // console.log(myArray[3]);
                return true;
            } else {
                return false;
            }
        };


        function order_alert() {
            let name = $('#name').val();
            let order_value = $('#inputGroupSelect01').val();
            let address = $('#address').val();
            let phone_num = $('#phone_num').val();

            // console.log(order_value);
            if (name === '') {
                alert('주문자 이름을 입력해주세요.');
                $('#name').focus();
            } else if (order_value === '-- 수량을 선택하세요 --') {
                alert('주문 수량을 입력해주세요.');
                $('#inputGroupSelect01').focus();
            } else if (address === '') {
                alert('주소를 입력해주세요.');
                $('#address').focus();
            } else if (phone_num === '') {
                alert('전화번호를 입력해주세요.');
                $('#phone_num').focus();
            } else if (!isMobile(phone_num)) {
                alert('휴대전화 번호 형식이 아닙니다.');
            }

            $.ajax({
                type: 'POST',
                url: '/order',
                data: {
                    "name": name,
                    "amount": order_value,
                    "address": address,
                    "phone_number": phone_num
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            })
}

function listing() {

            $.ajax({
                type: 'GET',
                url:'/order',
                data:{},
                success: function(response){
                    if(response['result']=='success'){
                        Get_orders = response['order']
                        for (let i=0; i < Get_orders.length; i++){
                            make_card(
                                Get_orders[i].name,
                                Get_orders[i].amount,
                                Get_orders[i].address,
                                Get_orders[i].phone_number
                            )
                        }
                    }
                }
            })

}




function make_card(name, amount, address, phone_number) {
            let temp_html = '<tr>\
                                <td>'+ name + '</td>\
                                <td>'+ amount + '</td>\
                                <td>'+ address + '</td>\
                                <td>'+ phone_number + '</td>\
                            </tr>';
            $('#orders-box').append(temp_html);
}
</script>
</body>

</html>